.navbar-brand {
    color: #000000 !important;
    font-weight: bold;
}

.nav-link {
    color: #000000 !important;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.dropdown-menu {
    box-sizing: content-box;
}

.button-right {
    width: auto;
    margin-left: auto;
}