# PostgreSQL Database Configuration
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_NAME=postgres

DJANGO_PORT=13000
DJANGO_SETTINGS_MODULE=mm_project.settings.default
