{% extends "frontend/utils/base.html" %}
{% load humanize %}

{% block body %}
    <article class="media content-section">
        <div class="container">
            {% include 'api/messages.html' %}

            <div class="row">
                <div class="col">
                    <h1>View Expense Category: {{ object.name }}</h1>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col ml-5">
                    <p>Name: {{ object.name }}</p>
                    <p>Description: {{ object.description }}</p>
                    <p>{% if object.special_type %}Special Type: {{ object.get_special_type_display }}{% endif %}</p>
                    <p>{% if object.exclude %}<span class="badge bg-warning text-dark">Excluded from Spending</span>{% endif %}</p>
                    <p>{% if object.budget_category %}Budget: {{ object.budget_category.name}}{% endif %}</p>

                    {% if object.expenses_set %}
                        <table class="sortable table table-hover border-info mb-3">
                            <thead>
                            <tr>
                                <th scope="col" class="d-none d-sm-table-cell">Name</th>
                                <th scope="col" class="d-table-cell d-sm-none">Name</th>
                                <th scope="col">Amount</th>
                                <th scope="col" class="d-none d-sm-table-cell">Date</th>
                                <th scope="col" class="d-table-cell d-sm-none">Date</th>
                                <th scope="col" class="d-none d-sm-table-cell">Category</th>
                                <th scope="col" class="d-none d-md-table-cell">Budget</th>
                                <th scope="col" class="d-none d-sm-table-cell">Account</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for expense in object.expense_set.all %}
                                <tr>
                                    <td class="d-none d-sm-table-cell">
                                        <a
                                                href="{% url 'expenses:expense_detail' expense.id %}"
                                                class="text-info">
                                            {{ expense.name }}
                                        </a>
                                    </td>
                                    <td
                                            class="d-table-cell d-sm-none"
                                    >
                                        <a href="{% url 'expenses:expense_detail' expense.id %}"
                                           class="text-info">
                                            {{ expense.get_short_name }}
                                        </a>
                                    </td>
                                    <td>${{ expense.amount|intcomma }}</td>
                                    <td class="d-none d-sm-table-cell">{{ expense.date|date:"F d, Y" }}</td>
                                    <td class="d-table-cell d-sm-none">{{ expense.date|date:"m/d/y" }}</td>
                                    <td class="d-none d-sm-table-cell">
                                        <div class="d-flex" style="gap: 1rem" id="category-container-{{ expense.id }}">
                                            {% include 'expenses/components/editable-category.html' %}
                                        </div>
                                    </td>
                                    <td class="d-none d-md-table-cell">
                                        <div class="d-flex" style="gap: 1rem" id="budget-container-{{ expense.id }}">
                                            {% include 'expenses/components/editable-budget.html' %}
                                        </div>
                                    </td>
                                    <td class="d-none d-sm-table-cell">{{ expense.account.name }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                </div>
            </div>

            <div class="row mt-3">
                <div class="col">
                    <h4><a href="{% url 'expenses:expense_category_list' %}" class="text-info">Return to Expenses Category List</a></h4>
                </div>
            </div>

        </div>
    </article>
{% endblock body %}