{% load humanize %}

<table class="sortable table table-hover border-info">
  <thead>
    <tr>
        <th scope="col">Expense Name</th>
        <th scope="col">Amount</th>
        <th scope="col">Date</th>
        <th scope="col">Category</th>
        <th scope="col">Account</th>
        <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for expense in expenses %}
        <tr>
            <td><a href="{% url 'frontend:expense_detail' expense.id %}"> {{ expense.name }}</a></td>
            <td>${{ expense.amount|intcomma }}</td>
            <td>{{ expense.date|date:"F d, Y" }}</td>
            {% if expense.other_category %}
                <td>{{ expense.other_category }}</td>
            {% else %}
                <td>{{ expense.category }}</td>
            {% endif %}
            <td>{{ expense.account.name }}</td>
            <td>
                <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'frontend:expense_update' expense.id %}">Edit</a>
                <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'frontend:expense_delete' expense.id %}">Delete</a>
            </td>
        </tr>
    {% endfor %}
  </tbody>
</table>