{% extends 'frontend/utils/base.html' %}

{% load static %}

{% block head %}
    {% include 'frontend/utils/table_sort_header.html' %}
{% endblock %}

{% block body %}
    <div class="container card">
        <div class="row card-header text-white bg-info">
            <div class="col">
                {% if month %}
                    <h1 class="text-decoration-underline">{{ month }} {{ year }} Expenses</h1>
                {% else %}
                    <h1 class="text-decoration-underline">{{ year }} Expenses</h1>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {% include 'frontend/expenses/expenses_table.html' %}
            </div>
        </div>
        <div class="row m-3">
            <a href="{% url 'frontend:add_expense' %}"><h2 class="text-info">Add New Expense</h2></a>
        </div>
    </div>

{% endblock %}