{% extends 'frontend/utils/base.html' %}

{% block title %} Money Manager: View Bills {% endblock %}


{% block head %}
    {% include 'frontend/utils/table_sort_header.html' %}
{% endblock %}

{% block body %}
    <div class="container card">
        <div class="row card-header text-white bg-secondary">
            <div class="col">
                <h1 class="text-decoration-underline">Bills</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {% include 'frontend/bills/bills_table.html' %}
            </div>
        </div>
        <div class="row m-3">
            <a href="{% url 'frontend:add_bill' %}"><h2 class="text-secondary">Add New Bill</h2></a>
        </div>
    </div>

{% endblock %}