{% extends "frontend/utils/base.html" %}
{% load humanize %}

{% block body %}
    <article class="media content-section">
        <div class="container">
            {% include 'api/messages.html' %}

            <div class="row">
                <div class="col">
                    <h1>View Expense: {{ object.name }}</h1>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col ml-5">
                    {% if object.owner == user %}
                        <div class="card mb-3" style="max-width: 20rem;">
                            <div class="card-header text-white bg-info "><h4
                                    class="card-title m-2">{{ object.name }}</h4></div>
                            <div class="card-body bg-light">
                                {#                                <h4 class="card-title mb-3">{{ object.name }}</h4>#}
                                <p class="card-text">Amount: ${{ object.amount|intcomma }}</p>
                                <p class="card-text">Account: {{ object.account.name }}</p>
                                <p class="card-text">Date: {{ object.date|date:"F d, Y" }}</p>
                                {% if object.other_category %}
                                    <p class="card-text">Category: {{ object.other_category }}</p>
                                {% else %}
                                    <p class="card-text">Category: {{ object.category }}</p>
                                {% endif %}
                                {% if object.notes %}
                                    <p class="card-text">Notes: {{ object.notes }}</p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="mt-2">
                            <a class="btn btn-secondary btn-sm mt-1 mb-1"
                               href="{% url 'expenses:expense_update' object.id %}">Edit</a>
                            <a class="btn btn-danger btn-sm mt-1 mb-1"
                               href="{% url 'expenses:expense_delete' object.id %}">Delete</a>
                        </div>
                    {% else %}
                        <h2 class="article-title">Error: Invalid Bill ID.</h2>
                    {% endif %}
                </div>
            </div>

            <div class="row mt-3">
                <div class="col">
                    <h4><a href="{% url 'expenses:all_expenses' %}" class="text-info">Return to Expenses List</a></h4>
                </div>
            </div>

        </div>
    </article>
{% endblock body %}