{% extends 'frontend/utils/base.html' %}

{% load humanize %}
{% load static %}

{% block title %} Money Manager: View Expenses {% endblock %}

{% block head %}
    {% include 'frontend/utils/table_sort_header.html' %}
{% endblock %}

{% block body %}
    <div class="d-flex my-3" style="gap: 1rem">
        <a href="{% url 'expenses:add_expense' %}">
            <div class="btn btn-info">Add New Expense</div>
        </a>

        <a href="{% url 'expenses:upload_csv' %}">
            <div class="btn btn-info">Bulk Upload CSV</div>
        </a>
    </div>

    <div class="card" id="expenses-content">
        <div class="card-header text-white bg-info">
            <h1>Expenses</h1>
        </div>
        <div class="card-body">
            <form id="month-year-form"
                  hx-post="{% url 'expenses:all_expenses' %}"
                  hx-select="#expenses-content"
                  hx-target="#expenses-content"
                  hx-swap="outerHTML"
                  class="my-3"
            >
                {% csrf_token %}
                <div class="row">
                    <div class="col-6">
                        {{ form.month.label_tag }} {{ form.month }}
                    </div>
                    <div class="col-6">
                        {{ form.year.label_tag }} {{ form.year }}
                    </div>
                </div>
            </form>

            <table class="sortable table table-hover border-info mb-3">
                <thead>
                <tr>
                    <th scope="col" class="d-none d-sm-table-cell">Name</th>
                    <th scope="col" class="d-table-cell d-sm-none">Name</th>
                    <th scope="col">Amount</th>
                    <th scope="col" class="d-none d-sm-table-cell">Date</th>
                    <th scope="col" class="d-table-cell d-sm-none">Date</th>
                    <th scope="col" class="d-none d-sm-table-cell">Category</th>
                    <th scope="col" class="d-none d-sm-table-cell">Account</th>
                    <th scope="col" class="d-none d-md-table-cell">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for expense in expenses %}
                    <tr>
                        <td class="d-none d-sm-table-cell">
                            <a
                                    href="{% url 'expenses:expense_detail' expense.id %}"
                                    class="text-info">
                                {{ expense.name }}
                            </a>
                        </td>
                        <td
                                class="d-table-cell d-sm-none"
                        >
                            <a href="{% url 'expenses:expense_detail' expense.id %}"
                               class="text-info">
                                {{ expense.get_short_name }}
                            </a>
                        </td>
                        <td>${{ expense.amount|intcomma }}</td>
                        <td class="d-none d-sm-table-cell">{{ expense.date|date:"F d, Y" }}</td>
                        <td class="d-table-cell d-sm-none">{{ expense.date|date:"m/d/y" }}</td>
                        <td class="d-none d-sm-table-cell">
                            <div class="d-flex" style="gap: 1rem" id="category-container-{{ expense.id }}">
                                {% include 'expenses/components/editable-category.html' %}
                            </div>
                        </td>
                        <td class="d-none d-sm-table-cell">{{ expense.account.name }}</td>
                        <td class="d-none d-md-table-cell">
                            <div style="min-width: max-content">
                                <a class="btn btn-danger btn-sm mt-1 mb-1"
                                   href="{% url 'expenses:expense_delete' expense.id %}">Delete</a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>


    </div>


{% endblock %}