{% extends 'frontend/utils/base.html' %}

{% load humanize %}
{% load static %}

{% block title %} Money Manager: View Expenses {% endblock %}

{% block head %}
    {% include 'frontend/utils/table_sort_header.html' %}
{% endblock %}

{% block body %}
    <div class="card" id="expenses-content">
        <div class="card-header text-white bg-info">
            <h1>Expenses</h1>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <form id="month-year-form"
                          class="my-3"
                          hx-select="#expenses-content"
                          hx-target="#expenses-content"
                          hx-swap="outerHTML"
                    >
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-3 d-flex justify-content-center align-items-center">
                                <button
                                        class="btn btn-info btn-lg"
                                        type="button"
                                        hx-trigger="click"
                                        hx-post="#"
                                        name="scroll"
                                        value="previous"
                                >
                                    < Prev
                                </button>
                                <i class="fa-solid fa-chevron-left"></i>
                            </div>
                            <div class="col-3">
                                <label for="id_month">Month:</label>
                                <select name="month"
                                        hx-trigger="change"
                                        hx-post="#"
                                        class="form-control" id="id_month">
                                    {% for idx, month in month_choices %}
                                        <option
                                                value="{{ idx }}"
                                                {% if idx == selected_month %}selected{% endif %}
                                        >{{ month }}</option>
                                    {% endfor %}

                                </select>
                            </div>
                            <div class="col-3">
                                <label for="id_year">Year:</label>
                                <select name="year"
                                        hx-trigger="change"
                                        hx-post="#"
                                        class="form-control"
                                        id="id_year">
                                    {% for idx, year in year_choices %}
                                        <option
                                                value="{{ idx }}"
                                                {% if idx == selected_year %}selected{% endif %}
                                        >{{ year }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="col-3 d-flex justify-content-center align-items-center">
                                <button
                                        class="btn btn-info btn-lg"
                                        type="button"
                                        hx-trigger="click"
                                        hx-post="#"
                                        name="scroll"
                                        value="next"
                                >
                                    Next >
                                </button>
                            </div>
                        </div>
                    </form>

                </div>
                <div class="col-12">
                    <table class="sortable table table-hover border-info mb-3">
                        <thead>
                        <tr>
                            <th scope="col" class="d-none d-sm-table-cell">Name</th>
                            <th scope="col" class="d-table-cell d-sm-none">Name</th>
                            <th scope="col">Amount</th>
                            <th scope="col" class="d-none d-sm-table-cell">Date</th>
                            <th scope="col" class="d-table-cell d-sm-none">Date</th>
                            <th scope="col" class="d-none d-sm-table-cell">Category</th>
                            <th scope="col" class="d-none d-md-table-cell">Budget</th>
                            <th scope="col" class="d-none d-md-table-cell">Account</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for expense in expenses %}
                            <tr>
                                <td class="d-none d-sm-table-cell">
                                    <a
                                            href="{% url 'expenses:expense_detail' expense.id %}"
                                            class="text-info">
                                        {{ expense.name }}
                                    </a>
                                </td>
                                <td
                                        class="d-table-cell d-sm-none"
                                >
                                    <a href="{% url 'expenses:expense_detail' expense.id %}"
                                       class="text-info">
                                        {{ expense.get_short_name }}
                                    </a>
                                </td>
                                <td>${{ expense.amount|intcomma }}</td>
                                <td class="d-none d-md-table-cell">{{ expense.date|date:"F d, Y" }}</td>
                                <td class="d-table-cell d-md-none">{{ expense.date|date:"m/d/y" }}</td>
                                <td class="d-none d-sm-table-cell">
                                    <div class="d-flex" style="gap: 1rem" id="category-container-{{ expense.id }}">
                                        {% include 'expenses/components/editable-category.html' %}
                                    </div>
                                </td>
                                <td class="d-none d-md-table-cell">
                                    <div class="d-flex" style="gap: 1rem" id="budget-container-{{ expense.id }}">
                                        {% include 'expenses/components/editable-budget.html' %}
                                    </div>
                                </td>
                                <td class="d-none d-md-table-cell">{{ expense.account.name }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


    </div>


{% endblock %}