{% extends 'frontend/utils/base.html' %}

{% load static %}

{% block title %} Money Manager: View Expenses {% endblock %}

{% block head %}
    {% include 'frontend/utils/table_sort_header.html' %}
{% endblock %}

{% block body %}
    <div class="d-flex my-3" style="gap: 1rem">
        <a href="{% url 'expenses:add_expense' %}">
            <div class="btn btn-info">Add New Expense</div>
        </a>

        <a href="{% url 'expenses:upload_csv' %}">
            <div class="btn btn-info">Bulk Upload CSV</div>
        </a>
    </div>

    <div class="card">
        <div class="card-header text-white bg-info">
            <h1>Expenses</h1>
        </div>

        {% if found %}
            {% include 'expenses/components/expenses_table.html' %}
        {% else %}
            {% include 'expenses/components/no_expenses_found.html' %}
        {% endif %}

    </div>


{% endblock %}