<div class="form-group m-2">
    <form action="/expenses/" method="post">
        {% csrf_token %}
        <div class="container">
            <table>
                <tr>
                    <td>
                        Year: {{ form.year }}
                    </td>
                    <td>
                        Month: {{ form.month }}
                    </td>
                </tr>
            </table>
        </div>
        <div class="container m-2">
            <input type="submit" value="Filter" class="btn btn-primary">
            <button type="button" class="btn btn-secondary"><a href="{% url 'frontend:all_expenses' %}"
                                                               class="text-dark" style="text-decoration: none;">Clear
                Filter</a></button>
        </div>
        <div class="ml-4">

        </div>
    </form>
</div>
