{% load humanize %}

<div class="card">
    <a data-bs-toggle="collapse" href="#expenses-card" style="text-decoration: none" aria-expanded="false"
       aria-controls="expenses-card">
        <div class="card-header bg-info text-white">
            <h1 class="card-title">Expenses</h1>
        </div>
    </a>


    <div class="collapse p-4" id="expenses-card">
        <table class="sortable table table-hover">
            <thead>
            <tr>
                <th>Expense Name</th>
                <th>Amount</th>
                <th>Date</th>
                <th class="d-none d-lg-table-cell">Category</th>
                <th class="d-none d-lg-table-cell">Account</th>
            </tr>

            </thead>
            <tbody>
            {% for expense in expenses %}
                <tr>
                    <td>
                        <a href="{% url 'expenses:expense_detail' expense.id %}">
                            {{ expense.get_short_name }}
                        </a>
                    </td>
                    <td>${{ expense.amount|intcomma }}</td>
                    <td class="d-none d-sm-table-cell">{{ expense.date|date:"F d, Y" }}</td>
                    <td class="d-table-cell d-sm-none">{{ expense.date|date:"m/d/y" }}</td>
                    <td class="d-none d-lg-table-cell">{{ expense.category.get_short_name }}</td>
                    <td class="d-none d-lg-table-cell">{{ expense.account.get_short_name }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="d-flex justify-content-end">
            <a class="btn btn-lg btn-info rounded" href="{% url 'expenses:all_expenses' %}">
                View All Expenses
            </a>
        </div>

    </div>

    <a data-bs-toggle="collapse" href="#expenses-card" style="text-decoration: none" aria-expanded="false"
       aria-controls="expenses-card">
        <div class="card-footer bg-info d-flex justify-content-between text-white">
            <p class="card-text">Monthly Total: $ {{ expense_total|intcomma }}</p>
            <p class="card-text">Number of Expenses: {{ expense_count }}</p>
        </div>
    </a>
</div>