{% load humanize %}
<div class="card">

    <div class="card-header text-white bg-info p-3">
        <h3 class="mb-0">Recent Expenses</h3>
    </div>
    <div class="card-body p-4">
        <table class="sortable table table-hover border-info">
            <thead>
            <tr>
                <th>Expense Name</th>
                <th>Amount</th>
                <th>Date</th>
                <th class="d-none d-lg-table-cell">Category</th>
                <th class="d-none d-lg-table-cell">Account</th>
            </tr>
            </thead>
            <tbody>
            {% for expense in expenses %}
                <tr>
                    <td>
                        <a href="{% url 'expenses:expense_detail' expense.id %}">
                            {{ expense.get_short_name }}
                        </a>
                    </td>
                    <td>${{ expense.amount|intcomma }}</td>
                    <td>{{ expense.date|date:"F d, Y" }}</td>
                    <td class="d-none d-lg-table-cell">{{ expense.category.get_short_name }}</td>
                    <td class="d-none d-lg-table-cell">{{ expense.account.get_short_name}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="card-footer w-100 d-flex justify-content-end p-3">
        <a href="{% url 'expenses:all_expenses' %}">
            <span class="btn btn-lg btn-info rounded">
                View All Expenses
            </span>
        </a>
    </div>
</div>