{% load humanize %}

<table class="sortable table table-hover border-secondary">
    <thead>
    <tr>
        <th scope="col">Bill Name</th>
        <th scope="col">Amount</th>
        <th scope="col" class="d-none d-sm-table-cell">Last Paid</th>
        <th scope="col">Next Due</th>
        <th scope="col" class="d-none d-sm-table-cell">Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for bill in bills %}
        <tr>
            <td><a href="{% url 'bills:bill_detail' bill.id %}" class="text-secondary"> {{ bill.name }}</a></td>
            {% if bill.variable %}
                <td>${{ bill.amount }} (Variable)</td>
            {% else %}
                <td>${{ bill.amount }}</td>
            {% endif %}
            <td class="d-none d-sm-table-cell">{{ bill.last_paid }}</td>
            <td>{{ bill.next_due }}</td>
            <td class="d-none d-sm-table-cell">
                <a class="btn btn-primary btn-sm mt-1 mb-1" href="{% url 'bills:pay_bill' bill.id %}">Pay Bill</a>
                <br />
                <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'bills:bill_update' bill.id %}">Edit</a>
                <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'bills:bill_delete' bill.id %}">Delete</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>