{% extends "frontend/utils/base.html" %}
{% load humanize %}

{% block title %} Money Manager: Pay Bills {% endblock %}

{% block head %}
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>

    <!-- Fengyuan Chen's Datepicker -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css"
          integrity="sha256-b88RdwbRJEzRx95nCuuva+hO5ExvXXnpX+78h8DjyOE=" crossorigin="anonymous"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js"
            integrity="sha256-/7FLTdzP6CfC1VBAj/rsp3Rinuuu9leMRGd354hvk0k=" crossorigin="anonymous"></script>

{% endblock %}

{% block body %}
    <article class="media content-section">
        <div class="container">

            {% include 'api/messages.html' %}

            <div class="row">
                <div class="col">
                    <h1 class="text-decoration-underline">Pay Bill:</h1>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col ml-5">
                    {% if object.owner.username == user %}
                        <div class="card mb-3" style="max-width: 20rem;">
                            <div class="card-header text-white bg-secondary">Bill #{{ object.id }}</div>
                            <div class="card-body bg-light">
                                <h4 class="card-title mb-3">{{ object.name }}</h4>
                                <p class="card-text">Amount: ${{ object.amount|intcomma }}</p>
                                <p class="card-text">Last Paid: {{ object.last_paid|date:"F d, Y" }}</p>
                                <p class="card-text">Period: {{ object.period }}</p>
                                <p class="card-text">Next Due: {{ object.next_due|date:"F d, Y" }}</p>
                                <p class="card-text">Account: {{ object.account }}</p>
                            </div>
                        </div>
                        <div class="mt-2">
                            <div class="form-group m-2">
                                <form action="" method="post">
                                    {% csrf_token %}
                                    {{ form.as_p }}
                                    <input type="submit" value="Pay Bill" class="m-2">
                                </form>
                            </div>
                        </div>
                    {% else %}
                        <h2 class="article-title">Error: Invalid Bill ID.</h2>
                    {% endif %}
                </div>
            </div>

            <div class="row mt-3">
                <div class="col">
                    <h4><a href="{% url 'bills:all_bills' %}">Return to Bills List</a></h4>
                </div>
            </div>

        </div>
    </article>

    <script>
        $(function () {
            $("#id_date").datepicker({
                format: 'dd/mm/yyyy',
            });
        });
    </script>
{% endblock body %}