<!-- https://bootswatch.com/minty/ -->
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Money Manager {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'frontend/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'frontend/bootstrap.min.css' %}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

{% include 'frontend/utils/lo_navbar.html' %}

<div id="main">
    <div class="container mt-3">
        {% block body %}
        {% endblock %}
    </div>
</div>

</body>
</html>