<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'frontend:home' %}">Money Manager</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
                aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    {% if request.path == '' %}
                    <a class="nav-link active" href="{% url 'frontend:home' %}">Home</a>
                    {% else %}
                    <a class="nav-link" href="{% url 'frontend:home' %}">Home</a>
                    {% endif %}
                </li>
                <li class="nav-item">
                    {% if request.path == '/summary/' %}
                    <a class="nav-link active" href="{% url 'frontend:summary' %}">Overview</a>
                    {% else %}
                    <a class="nav-link" href="{% url 'frontend:summary' %}">Overview</a>
                    {% endif %}
                </li>
                <li class="nav-item">
                    {% if 'accounts' in request.path %}
                    <a class="nav-link active" href="{% url 'accounts:all_accounts' %}">Accounts</a>
                    {% else %}
                    <a class="nav-link" href="{% url 'accounts:all_accounts' %}">Accounts</a>
                    {% endif %}
                </li>
                <li class="nav-item">
                    {% if 'bills' in request.path %}
                    <a class="nav-link active" href="{% url 'bills:all_bills' %}">Bills</a>
                    {% else %}
                    <a class="nav-link" href="{% url 'bills:all_bills' %}">Bills</a>
                    {% endif %}
                </li>
                <li class="nav-item">
                    {% if 'expenses' in request.path %}
                    <a class="nav-link active" href="{% url 'expenses:all_expenses' %}">Expenses</a>
                    {% else %}
                    <a class="nav-link" href="{% url 'expenses:all_expenses' %}">Expenses</a>
                    {% endif %}
                </li>
                <li class="nav-item dropdown">
                    {% if 'profile' in request.path %}
                    <a class="nav-link dropdown-toggle active" data-bs-toggle="dropdown" href="#" role="button"
                       aria-haspopup="true" aria-expanded="false" id="download">{{ user.username }}</a>
                    {% else %}
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                       aria-haspopup="true" aria-expanded="false" id="download">{{ user }}</a>
                    {% endif %}
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'frontend:profile' %}">My Profile</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'logout' %}">Sign Out</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>