{% load humanize %}

<table class="sortable table table-hover border-info mb-3">
    <thead>
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Amount</th>
        <th scope="col">Date</th>
        <th scope="col" class="d-none d-sm-table-cell">Category</th>
        <th scope="col" class="d-none d-sm-table-cell">Account</th>
        <th scope="col" class="d-none d-md-table-cell">Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for expense in expenses %}
        <tr>
            <td class="d-none d-sm-table-cell"><a href="{% url 'expenses:expense_detail' expense.id %}" class="text-info"> {{ expense.name }}</a></td>
            <td class="d-table-cell d-sm-none"><a href="{% url 'expenses:expense_detail' expense.id %}" class="text-info"> {{ expense.get_short_name }}</a></td>
            <td>${{ expense.amount|intcomma }}</td>
            <td class="d-none d-sm-table-cell">{{ expense.date|date:"F d, Y" }}</td>
            <td class="d-table-cell d-none">{{ expense.date|date:"%m/%d/%y" }}</td>
            <td class="d-none d-sm-table-cell">{{ expense.category.name }}</td>
            <td class="d-none d-sm-table-cell">{{ expense.account.name }}</td>
            <td class="d-none d-md-table-cell">
                <a class="btn btn-secondary btn-sm mt-1 mb-1"
                   href="{% url 'expenses:expense_update' expense.id %}">Edit</a>
                <a class="btn btn-danger btn-sm mt-1 mb-1"
                   href="{% url 'expenses:expense_delete' expense.id %}">Delete</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>