{% extends "frontend/utils/base.html" %}

{% load crispy_forms_tags %}
{% block body %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Update Budget: {{ object.category }}</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group mt-3">
                <button class="btn btn-outline-info" type="submit">Save Expense</button>
            </div>
        </form>

    </div>
    <div class="content-section mt-5">
        <form method="POST" action="{% url 'expenses:budget_merge' %}">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">... Or Merge with Existing Budget</legend>
                <input name="selected-category" hidden="hidden" value="{{ object.category_id }}">
                <select class="form-control" name="target-category">
                    {% for id, name in category_choices %}
                        <option value="{{ id }}">{{ name }}</option>
                    {% endfor %}
                </select>
            </fieldset>
            <div class="form-group mt-3">
                <button class="btn btn-outline-info" type="submit">Merge Budgets</button>
            </div>
        </form>
    </div>
{% endblock %}