{% extends "frontend/utils/base.html" %}
{% load humanize %}

{% block extra_css %}
    <style>
        .card {
            break-inside: avoid;
            margin-bottom: 1rem;
        }
        @media (min-width: 1000px) {
            .card-container {
                columns: 2;
                column-gap: 10px;
                padding: 1rem 0;
            }


        }

        .card-header {
            font-size: larger;
            text-align: center;
            font-weight: 600;
            color: black;
        }
    </style>


{% endblock %}

{% block body %}
    <article class="media content-section">
        <div class="container">
            {% include 'api/messages.html' %}

            <div class="row">
                <div class="col-12">
                    <h1>View Budget: {{ object.name }}</h1>
                </div>
                <div class="col-12" id="budget-data-card">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex flex-column" style="gap: 1rem">
                                <h3>Budget Amount: $ {{ object.amount }}</h3>
                                <div class="d-flex justify-content-between">
                                    <button type="button"
                                            class="btn btn-primary btn-lg"
                                            data-bs-toggle="modal"
                                            data-bs-target="#expense-category-modal">
                                        Add Category
                                    </button>
                                    {% include "budgets/add-category-modal.html" %}
                                    <a class="btn btn-secondary btn-lg"
                                       href="{% url 'expenses:budget_edit' object.id %}">Edit</a>
                                </div>
                            </div>

                            <div class="card-container">
                                {% for category in object.expensecategory_set.all %}
                                    <div class="card">
                                        <div class="card-header d-flex justify-content-between">
                                            {{ category.name }}
                                            <form>
                                                <input hidden name="category_id" value="{{ category.id }}" />
                                                <input hidden name="action" value="remove" />

                                                <button
                                                    type="button"
                                                    class="btn btn-danger"
                                                    hx-post="#"
                                                    hx-swap="outerHTML"
                                                    hx-target="#budget-data-card"
                                                    hx-select="#budget-data-card"
                                                >
                                                    Remove
                                                </button>
                                            </form>
                                            
                                        </div>
                                        <div class="card-body">
                                            <table class="table">
                                                <thead>
                                                <tr>
                                                    <th>Date</th>
                                                    <th>Name</th>
                                                    <th>Amount</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for expense in category.expense_set.all %}
                                                    <tr>
                                                        <td>{{ expense.date }}</td>
                                                        <td>{{ expense.name }}</td>
                                                        <td>{{ expense.amount }}</td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>

                                        </div>
                                    </div>


                                {% endfor %}

                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="mt-2">

            </div>

            <div class="row mt-3">
                <div class="col">
                    <h4><a href="{% url 'expenses:budget_list' %}" class="text-info">Return to Budgets List</a></h4>
                </div>
            </div>

        </div>
    </article>
{% endblock body %}