{% extends 'frontend/utils/base.html' %}

{% load static %}

{% block title %} Money Manager: View Budgets {% endblock %}

{% block head %}
    {% include 'frontend/utils/table_sort_header.html' %}
{% endblock %}

{% block body %}
    <div id="budget-content">
        <div class="card">
            <div class="card-header d-flex justify-content-between">
                <h2 class="mb-0">Budgets</h2>
                <a href="{% url 'expenses:budget_create' %}">
                    <button class="btn btn-primary rounded">
                        Create Budget
                    </button>
                </a>
            </div>
            <div class="card-body">


                <table class="sortable table table-hover border-primary">
                    <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Amount</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for budget in budgets %}
                        <tr>
                            <td>
                                <a href="{% url 'expenses:budget_view' pk=budget.pk %}">
                                    {{ budget.name }}
                                </a>
                            </td>
                            <td>{{ budget.amount }}</td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
