{% extends 'frontend/utils/base.html' %}

{% block head %}
    {% include 'frontend/utils/table_sort_header.html' %}
{% endblock %}

{% block body %}
    <div class="container card">
        <div class="row card-header text-white bg-primary">
            <div class="col">
                <h1 class="text-decoration-underline">Accounts</h1>
            </div>
        </div>
        <div class="row">
            <div class="col p-0 p-md-2">
                {% include 'frontend/accounts/accounts_table.html' %}
            </div>
        </div>
        <div class="row m-3">
            <a href="{% url 'frontend:add_account' %}"><h2>Add New Account</h2></a>
        </div>
    </div>

{% endblock %}