{% load humanize %}
<div class="card">

    <div class="card-header text-white bg-info">
        <h3 class="text-decoration-underline">Recent Expenses</h3>
    </div>
    <div class="card-body">
        <table class="sortable table table-hover border-info">
            <thead>
            <tr>
                <th scope="col">Expense Name</th>
                <th scope="col">Amount</th>
                <th scope="col">Date</th>
                <th scope="col">Category</th>
                <th scope="col">Account</th>
            </tr>
            </thead>
            <tbody>
            {% for expense in expenses %}
                <tr>
                    <td><a href="{% url 'expenses:expense_detail' expense.id %}"> {{ expense.name }}</a>
                    </td>
                    <td>${{ expense.amount|intcomma }}</td>
                    <td>{{ expense.date|date:"F d, Y" }}</td>
                    {% if expense.other_category %}
                        <td>{{ expense.other_category }}</td>
                    {% else %}
                        <td>{{ expense.category }}</td>
                    {% endif %}
                    <td>{{ expense.account.name }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{% url 'expenses:all_expenses' %}">
            <span class="btn btn-lg btn-info rounded">
                View All Expenses
            </span>
        </a>
    </div>
</div>