{% extends 'frontend/utils/base.html' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="card bg-light-primary mb-3 p-0" style="max-width: 40rem;">
                <div class="card-header text-white bg-primary p-3"><h2>Username: {{ user_obj.username }}</h2></div>
                <div class="card-body">
                    <h4 class="card-title">User #{{ user_obj.id }}</h4>
                    {% if user_obj.first_name or user_obj.last_name %}
                        <p class="card-text">Name:{{ user_obj.first_name }} {{ user_obj.last_name }}</p>
                    {% endif %}
                    {% if user_obj.email %}
                        <p class="card-text">E-mail: {{ user_obj.email }}</p>
                    {% endif %}
                    <p class="card-text">Date Joined: {{ user_obj.date_joined }}</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="p-3">
                <h2><a href="{% url 'frontend:home' %}">Back to Home</a></h2>

            </div>
            <div class="p-3">
                <h4><a href="{% url 'logout' %}">Log Out</a></h4>
            </div>


        </div>
    </div>
{% endblock %}