<!-- https://bootswatch.com/minty/ -->
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Money Manager {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'frontend/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'frontend/bootstrap.min.css' %}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block head %}
    {% endblock %}
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'frontend:home' %}">Money Manager</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link active" href="{% url 'frontend:home' %}">Home
                <span class="visually-hidden">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'frontend:summary' %}">Overview</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'frontend:all_accounts' %}">Accounts</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'frontend:all_bills' %}">Bills</a>
            </li>
            <li class="nav-item dropdown">
                <!-- Replace profile name with "Sign In" button, buy have it be dropdown if signed in-->
              <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" id="download">{{ user }}</a>
              <div class="dropdown-menu">
                  <a class="dropdown-item" href="{% url 'frontend:profile' %}">My Profile</a>
                  <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'logout' %}">Sign Out</a>
              </div>
            </li>
          </ul>
<!--          <form class="d-flex">-->
<!--            <input class="form-control me-sm-2" type="text" placeholder="Search">-->
<!--            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>-->
<!--          </form>-->
        </div>
      </div>
    </nav>

  <div id="main">
        <div class="container mt-3">
              {% block body %}
              {% endblock %}
        </div>
  </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

</body>
</html>