{% extends 'frontend/utils/base.html' %}
{% load humanize %}
{% load static %}

{% block title %}Money Manager: Home{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-xl-8">
            <h1>Money Manager Home</h1>
        </div>
        <div class="col-xl-4 d-grid gap-2">
            {% if account_count > 0 or bills_count > 0 or expenses_count > 0 %}
                <button type="button" class="btn btn-lg btn-warning"><a href="{% url 'frontend:refresh' %}"
                                                                        class="text-white">Refresh Graphs</a></button>
            {% endif %}
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-xl-4">
            <a href="{% url 'frontend:all_accounts' %}" style="text-decoration: none;">
                <div class="card text-white bg-primary m-3" style="max-width: 20rem;">
                    <div class="card-header bg-primary">
                        Accounts
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Accounts Summary</h4>
                        <p class="card-text">Total Assets: ${{ account_total|intcomma }}</p>
                        <p class="card-text">Number of Accounts: {{ account_count }}</p>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-xl-4">
            <a href="{% url 'frontend:all_bills' %}" style="text-decoration: none;">
                <div class="card text-white bg-secondary m-3" style="max-width: 20rem;">
                    <div class="card-header bg-secondary">Bills</div>
                    <div class="card-body">
                        <h4 class="card-title">Bills Summary</h4>
                        <p class="card-text">Monthly Total: ${{ bill_total|intcomma }}</p>
                        <p class="card-text">Number of Bills: {{ bill_count }}</p>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-xl-4">
            <a href="{% url 'frontend:all_expenses' %}" style="text-decoration: none;">
                <div class="card text-white bg-info m-3" style="max-width: 20rem;">
                    <div class="card-header bg-info">Expenses</div>
                    <div class="card-body">
                        <h4 class="card-title">Expenses Summary</h4>
                        <p class="card-text">Monthly Total: ${{ expense_total|intcomma }}</p>
                        <p class="card-text">Number of Bills: {{ expense_count }}</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-xl-4">
            {% if account_count > 0 %}
                <img src="{% get_media_prefix %}{{ user }}/piechart_accounts.png" alt="Account Overview Pie Chart">
            {% else %}
                <p>Add an Account, then Refresh Graphs to show your Accounts Breakdown chart here!</p>
            {% endif %}
        </div>
        <div class="col-xl-4">
            {% if bills_count > 0 %}
                <img src="{% get_media_prefix %}{{ user }}/piechart_bills.png" alt="Bills Overview Pie Chart">
            {% else %}
                <p>Add a Bill, then Refresh Graphs to show your Bill Breakdown chart here!</p>

            {% endif %}

        </div>
        <div class="col-xl-4">
            {% if expenses_count > 0 %}
                <img src="{% get_media_prefix %}{{ user }}/piechart_expenses.png" alt="Expenses Overview Pie Chart">
            {% else %}
                <p>Add an Expense, then Refresh Graphs to show your Expenses Breakdown chart here!</p>
            {% endif %}

        </div>
    </div>
    <div class="row mt-3">

        <div>
{% endblock %}