{% extends 'frontend/utils/base.html' %}
{% load humanize %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'frontend/sortable-main/sortable.css' %}"/>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'frontend/sortable-main/sortable.min.js' %}"></script>
{% endblock %}

{% block title %}Money Manager: Home{% endblock %}

{% block body %}
    <div class="d-flex flex-column justify-content-around vh-100" style="gap: 1rem">
        {% include "frontend/home/accounts_card.html" %}
        {% include "frontend/home/bills_card.html" %}
        {% include "frontend/home/expenses_card.html" %}
    </div>
{% endblock %}