{% extends 'frontend/utils/base.html' %}
{% load humanize %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'frontend/sortable-main/sortable.css' %}"/>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'frontend/sortable-main/sortable.min.js' %}"></script>
{% endblock %}

{% block title %}Money Manager: Home{% endblock %}

{% block body %}
    <div class="row my-3">
        <div class="col-12 col-xl-4">
            <a href="{% url 'accounts:all_accounts' %}" style="text-decoration: none;">
                {% include "frontend/home/accounts-summary-card.html" %}
            </a>

        <div class="col-12 col-xl-4">
            <a href="{% url 'bills:all_bills' %}" style="text-decoration: none;">
                {% include "frontend/home/bills-summary-card.html" %}
            </a>

        <div class="col-12 col-xl-4">
            <a href="{% url 'expenses:all_expenses' %}" style="text-decoration: none;">
                {% include "frontend/home/expenses-summary-card.html" %}
            </a>
        </div>
    </div>

    <div class="row mb-5">
        {% include "frontend/summary/overview.html" %}
    </div>

{% endblock %}