{% extends 'frontend/base.html' %}
{% load humanize %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'frontend/sortable-main/sortable.css' %}" />
    <script src="{% static 'frontend/sortable-main/sortable.min.js' %}"></script>
{% endblock %}

{% block body %}
<div class="container">
    <div class="container mt-4 mb-4">
        <h1 class="text-decoration-underline">My Accounts & Bills</h1>
    </div>

    <div class="container card col-md-10">
        <div class="row card-header text-white bg-primary">
            <div class="col">
                <h2 style="text-decoration-underline">Accounts Overview:</h2>
            </div>
        </div>

        <div class="row">
            <div>
                <table class="sortable table table-hover">
                  <thead>
                    <tr>
                      <th scope="col">Account</th>
                      <th scope="col">Type</th>
                      <th scope="col">Balance</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for entry in accounts %}
                        <tr>
                            <td><a href="{% url 'frontend:account_detail' entry.id %}">{{ entry.name }}</a></td>
                            <td>{{ entry.type }}</td>
                            <td>${{ entry.balance|intcomma }}</td>
                        </tr>
                    {% endfor %}
                  </tbody>
                </table>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col">
                <a href="{% url 'frontend:all_accounts' %}"><h2>View All Accounts</h2></a>
            </div>
        </div>
    </div>


</div>

<div class="container mt-5">
    <div class="container card col-md-10">
        <div class="row card-header text-white bg-secondary">
            <div class="col">
                <h2 style="text-decoration-underline">Upcoming Bills:</h2>
            </div>
        </div>

        <div class="row">
            <div>
                <table class="sortable table table-hover ">
                  <thead>
                    <tr>
                      <th scope="col">Bills</th>
                      <th scope="col">Amount</th>
                      <th scope="col">Last Paid</th>
                      <th scope="col">Next Due</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for bill in bills %}
                        <tr>
                          <td scope="row"><a href="{% url 'frontend:bill_update' pk=bill.id %}"> {{ bill.name }}</a></td>
                            {% if bill.variable %}
                                <td>${{ bill.amount }} (Variable)</td>
                            {% else %}
                                <td>${{ bill.amount }}</td>
                            {% endif %}
                          <td>{{ bill.last_paid }}</td>
                          <td>{{ bill.next_due }}</td>
                        </tr>
                    {% endfor %}
                  </tbody>
                </table>
            </div>
        </div>

        <div class="row mt-2">
            <a href="{% url 'frontend:all_bills' %}"><h2>View All Bills</h2></a>
        </div>
    </div>

</div>
{% endblock %}